doctype html 
html 
    head
        title Conditionals in Pug
    body
        h2 My Web Application
        - let user = { name: "John", loggedIn: false, lastlogin: 11 };
        if user.loggedIn
            p
                | Welcome back, 
                strong #{user.name}
        else if user.lastlogin < 10
            p Your last login was #{ user.lastLogin } minutes ago
            p
                a(href="/login") Log In Again
        else 
            a(href="/login") Log In